<div class="container-fluid">
    <div class="row justify-content-center m-0 min-h">
      <div class="col-12 bg-white">
        <h2 class="text-center mt-4">CAMBIAR DATOS</h2>
        <div class="row justify-content-center mt-4">
          <div class="col-4">
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-2" >
                  <label for="titulo">
                    Nombre Equipo
                  </label>
                </div>
                <div class="col">
                  <input id="titulo" type="text" formControlName="titulo" class="form-control">
                  <div *ngIf="submitted  && checkoutForm.controls['titulo'].invalid" class="alert">
                    <div *ngIf="checkoutForm.controls.titulo.errors.required">Please enter name of team</div>
                  </div>
                </div>
              </div>
              <div class="row mt-3" >
                <div class="col-2">
                  <label for="body">
                    Descripción
                  </label>
                </div>
                <div class="col">
                  <textarea formControlName="body" id="body" cols="51" rows="3"></textarea>
                  <div *ngIf="submitted  && checkoutForm.controls['body'].invalid" class="alert">
                    <div *ngIf="checkoutForm.controls.body.errors.required">Please enter body</div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-between mt-4">
                <div class="col">
                  <button class="btn btn-primary fullWidth" type="submit">Editar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>